{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% include google_analytics.html %}

<script type="text/javascript">
// get all HTML anchors
var allAnchors = document.getElementsByTagName("a");

// get the current protocol, host and port
// (this could be set to https://www.fsi.uni-tuebingen.de/ but will break when testing the website locally)
var protoHostPort = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/";

// replace all internal page links with absolute links because TOC uses relative links and
// due to the fact that <base href="/"> is set this would link to the startpage ("/")
for (var i = 0; i < allAnchors.length; i++) {
	if(allAnchors[i].href.replace(protoHostPort,'').startsWith("#") ||
	   allAnchors[i].href.replace(protoHostPort,'').startsWith("/#")){
		allAnchors[i].href = window.location.pathname + allAnchors[i].href.replace(protoHostPort,'');
	}
}
</script>
